body
{
    background-color: black;
}

a{
    text-decoration: none;
}

#wrapper{
    width: 100%;
    padding-bottom: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: center;
    display: flex;
}

#content{
    width: 30%;
    border: 1px solid white;
    padding: 30px;
    text-align: left;
    color: white;
}

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  transition: margin-left .5s;
  padding: 20px;
  background-color: white;
  margin: 1% 5% 1% 5%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

#movies{
  margin-top: 1fv;
  color:white;
}

#btt{
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width:100%;
}

.error
{
	color: red;
	margin-top: 10px;
	margin-bottom: 10px;
}

table, td, th {
    border: 1px solid white;
}
  
table {
    border-collapse: collapse;
}
  
th {
    text-align: left;
}


